html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #636363;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.uphead {
  font-size: 10px;
  line-height: 1em;
  font-weight: 300;
  color: #d7d7d7;
  background-color: #31353d;
}

.header-settings span:nth-child(2n) {
  font-weight: 500;
  color: #ffffff;
}

.main-navigation {
  color: #464646;
  font-size: 14px;
  line-height: 1em;
  font-weight: 300;
}

.cart-price {
  font-size: 11px;
  font-weight: 700;
  line-height: 1em;
  color: #252525;
}

.banner {
  background-color: #9cdfce;
}

.banner-wrapper {
  width: 1200px;
  min-height: 630px;
  background-image: url("../img/banner.jpg");
  background-position: center;
}

.banner-outline p:first-child {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 72px;
  font-weight: 800;
  color: #31415c;
}

.banner-outline p:nth-child(2) {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 800;
  color: #31415c;
}

.banner-outline p:nth-child(3) {
  font-size: 14px;
  font-style: italic;
  line-height: 72px;
  font-weight: 300;
  color: #252525;
}

.banner-outline a {
  font-size: 10px;
  font-weight: 700;
  color: #111111;
  line-height: 1em;
}
